form.delete_from_class {
    display: inline;
}
th.sortable {
    color: #194770;
}

th.sortable:hover {
    text-decoration: underline;
    cursor: pointer;
}

th.sortable:hover i {
    text-decoration: none;
}