form.delete_from_class {
    display: inline;
}
th.sortable {
    color: #194770;
}

th.sortable:hover {
    text-decoration: underline;
    cursor: pointer;
}

th.sortable:hover i {
    text-decoration: none;
}

@media print
{    
    .no-print, .no-print *
    {
        display: none !important;
    }

    table {
        border-collapse: collapse;
    }

    table, th, td {
        border: 1px solid black;
    }
    th, td {
        padding: 5px;
    }

    #navpage-primary, #navpage-secondary, #bolt-footer {
        display: none !important;
    }

    th.sortable {
        color: #888 !important;
    }

    th i {
        display: none !important;
    }

    a.back-link {
        display: none !important;
    }
}